* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------- INDEX PAGE ----------- */
.container {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.brand-title {
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 88, 151);
    font-weight: 600;
    font-size: 16px;
}

.brand-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.475);
}

#linkAcc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: rgb(0, 93, 181);
    border: none;
    color: white;
    cursor: pointer;
}
#syncNow {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: rgb(0, 93, 181);
    border: none;
    color: white;
    cursor: pointer;
}


/* ------------ FORM COMPONENT -------------- */
.form-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-fields > input[type="text"] {
    padding: 8px 10px
}

form > button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: rgb(0, 93, 181);
    border: none;
    color: white;
    cursor: pointer;
}